<table>

  <!-- generate a row for each flour in array -->
  <tr *ngFor="let selection of selections">
    <td class="table-cell-name">
      {{selection.flour.name}}
    </td>
    <td class="table-cell-amount">
      <input class="input-flour-amount hidden-border" type="number" value="{{selection.amount}}" min="0" step="5"
        [(ngModel)]="selection.amount" (change)="updateLocalStorage()" />
    </td>
    <td class="table-cell-hydration">
      <input class="input-flour-hydration hidden-border" type="number" value="{{selection.hydration}}" min="0" max="200"
        [(ngModel)]="selection.hydration" (change)="updateLocalStorage()" />
    </td>
    <td>
      <button class="action-button" type="button" title="remove" (click)="remove(selection)">&Cross;</button>
    </td>
  </tr>

  <!-- final row of table for adding a new flour, is always visible -->
  <tr>
    <td>
      <input class="input-flour-name" list="flourDatabase" placeholder="add flour..." #newFlourName type="text"
        (input)="newFlourHydration.value=getHydration(newFlourName.value)" />
      <datalist id="flourDatabase">
        <option *ngIf="starter" value="My Starter" class="my-starter">
        <option *ngFor="let flour of flours$" value="{{flour.name}}">
      </datalist>
    </td>
    <td class="table-cell-amount">
      <input class="input-flour-amount" placeholder="weight" #newFlourAmount type="number" min="0" />
    </td>
    <td class="table-cell-hydration">
      <input class="input-flour-hydration" placeholder="&percnt;" #newFlourHydration type="number" min="0" max="200"
        value="" step="1" />
    </td>
    <td>
      <button class="action-button" type="button" title="add"
        (click)="add(newFlourName.value, newFlourAmount.valueAsNumber, newFlourHydration.valueAsNumber)">&plus;</button>
    </td>
  </tr>

</table>

<!-- show results of current flour values -->
<div class="total">
  Total dry: {{ totalDry() | number }}, wet: {{ totalWet() }}
</div>
<div>
  Final hydration: {{ finalHydration() }}&percnt;
</div>