
<table>

  <!-- generate a row for each flour in array -->
  <tr *ngFor="let selection of selections">
    <td class="table-cell-name">
      {{selection.flour.name}}
    </td>
    <td class="table-cell-amount">
      <input class="input-flour-amount hidden-border" type="number" value="{{selection.amount}}" min="0" step="5"
        [(ngModel)]="selection.amount" (change)="updateLocalStorage()"/>
    </td>
    <td class="table-cell-hydration">
      <input class="input-flour-hydration hidden-border" type="number" value="{{selection.hydration}}" min="0" max="200"
        [(ngModel)]="selection.hydration" (change)="updateLocalStorage()"/>
    </td>
    <td>
      <button class="action-button" type="button" (click)="remove(selection)">&ndash;</button>
    </td>
  </tr>

  <!-- final row of table for adding a new flour, is always visible -->
  <tr>
    <td>
      <input class="input-flour-name" placeholder="new flour" #newFlourName type="text" />
    </td>
    <td class="table-cell-amount">
      <input class="input-flour-amount" placeholder="weight" #newFlourAmount type="number" min="0" />
    </td>
    <td class="table-cell-hydration">
      <input class="input-flour-hydration" placeholder="%" #newFlourHydration type="number" min="0" max="200"
        value="" step="1" />
    </td>
    <td>
      <button class="action-button" type="button"
        (click)="add(newFlourName.value, newFlourAmount.valueAsNumber, newFlourHydration.valueAsNumber)">+</button>
    </td>
  </tr>

</table>

<!-- show results of current flour values -->
<div class="total">
  Total dry: {{ totalDry() | number }}, wet: {{ totalWet() | number }}
</div>