<h3>{{title}}</h3>

<ul>
  <li *ngFor="let flour of flours">
    <div>
      <label for="flourName">{{flour.name}}</label>
      <input id="flourName" type="number" value="{{flour.amount}}" min="0" step="5" [(ngModel)]="flour.amount"/>
      <button class="delete-button" type="button" (click)="remove(flour.name)">X</button>
    </div>
  </li>
</ul>

<div>
  <input placeholder="new flour" #newFlourName type="text" />
  <input placeholder="amount" #newFlourAmount type="number"/>
  <button type="button" (click)="add(newFlourName.value, newFlourAmount.valueAsNumber);newFlourName.value = '';newFlourAmount.value = ''">add new</button>
</div>

<div>
  Total: {{total()}}
</div>