* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

.action-button {
  font-weight: bold;
  width: 26px;
}

.total {
  font-size: large;
  margin: 12px 0;
}