* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  margin: 24px 0;
}

a {
  font-weight: 600;
  border-radius: 4px;
  padding: 12px;
  margin-inline-end: 4px;
  text-decoration-line: none;
  background-color: grey;
  color: white;
}

a:hover {
  border: 2px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
}

td {
  padding: 4px;
}

.action-button {
  font-size: large;
  width: 26px;
  height: 26px;
}

.total {
  font-size: large;
  margin: 12px 0;
}

.table-cell-name {
  padding-left: 4px;
}

input {
  font-size: medium;
  height: 20px;
}

.input-flour-name {
  width: 160px;
}

.input-flour-amount {
  width: 70px;
  text-align: center;
}

.input-flour-name:hover, .input-flour-amount:hover, .input-flour-hydration:hover {
  background-color: #fed;
}

.input-flour-hydration {
  width: 54px;
  text-align: center;
}

.hidden-border {
  border: hidden;
}